{% extends 'customer/customer_dash.html' %}
{% load crispy_forms_tags %}


{% block content %}


<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="quantity"></label>
        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="quantity">
    </div>
     <div class="form-group">
        <label for="adress"></label>
        <input type="text" class="form-control" name="adress" id="adress" placeholder="adress">
    </div>
     <div class="form-group">
        <label for="phone"></label>
        <input type="text" class="form-control" name="phone" id="phone" placeholder="phone">
    </div>
<!--     <div class="form-group">-->
<!--        <label for="amount"></label>-->
<!--        <input type="text" class="form-control" name="amount" id="amount" placeholder="amount">-->
<!--    </div>-->

    <button type="submit" class="btn btn-warning">submit</button>

</form>

{% endblock %}