{% extends 'customer/customer_dash.html' %}

{% block content %}
<form method="GET" style="display:grid;grid-template-columns:1fr 1fr;">
    <p style="margin-bottom:2%;">{{searched_form.form.brand}}</p>
    <button class="btn btn-warning" type="submit" style="margin-bottom:2%;width:50%;" >Search </button>
</form>

<div style="display:grid;grid-template-columns:1fr ;grid-gap:10px;">
{% for i in data %}

<div class="card mb-3 " style="max-width: 540px; background-color:#E6E6FA;">

  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{i.image.url}}" class="img-fluid rounded-start" alt="..."  style="width:100%; height:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color:green;">{{i.model_name}}</h5>
        <p class="card-text" style="color:brown;">
            brand:{{i.brand}}<br>
          model number:{{i.model_number}}<br>
          model name:{{i.model_name}}<br>
           sim type:{{i.sim_type}}<br>
          color:{{i.color}}<br>
            price:{{i.price}}<br>



            <a href="{% url 'add_to_cart' i.id %}" type ='submit' class="btn btn-success">Add to Cart</a>


        </p>

      </div>
    </div>
  </div>
</div>


{% endfor %}
 </div>

{% endblock %}