{% extends 'dash.html' %}

{% block content %}

<div style="display:grid;grid-template-columns:1fr ;grid-gap:10px;">
{% for i in data %}

<div class="card mb-3 " style="max-width: 540px; background-color:#E6E6FA;">

  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{i.image.url}}" class="img-fluid rounded-start" alt="..."  style="width:100%; height:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="color:green;">{{i.model_name}}</h5>
        <p class="card-text" style="color:brown;">
          model number:{{i.model_number}}<br>
          model name:{{i.model_name}}<br>
           sim type:{{i.sim_type}}<br>
          color:{{i.color}}<br>

          <a href="{% url 'product_delete' i.id %}" class="btn btn-danger">Delete</a>
          <a href="{% url 'product_update' i.id %}"  class="btn btn-info">update</a>

        </p>

      </div>
    </div>
  </div>
</div>


{% endfor %}
 </div>

{% endblock %}