{% extends 'dash.html' %}

{% block content %}
<table class="table" >
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
      <th scope="col">update</th>
      <th scope="col">delete</th>

    </tr>
  </thead>
  <tbody>
  {% for i in sellers %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.phone_number}}</td>
      <td>{{i.email}}</td>
      <td><a href="{% url 'seller_update' i.id %}"><button class="btn btn-info">Update</button></a></td>
      <td><a href="{% url 'seller_delete' i.id %}"><button class="btn btn-info">delete</button></a></td>

    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}